html,
body {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  margin: 0;
}
a {
  &:hover {
    text-decoration: none;
  }
}
p {
  margin-bottom: 2rem;
}
ul {
  > p {
    margin: 0;
  }
  > li {
    margin: 10px 0;
    > p {
      margin: 0;
    }
  }
}
h3,
h4,
h5 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-weight: bold;
}
.container {
  height: calc(100vh - 50px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.toolbar {
  position: fixed;
  background: lightgray;
  height: 100%;
  right: 0;
  z-index: 2;
  cursor: pointer;
  user-select: none;

  > div {
    padding: 15px;
    &:hover {
      background: darkgray;
    }
    &:active {
      box-shadow: 1px 1px 1px inset;
    }
  }
}
.header {
  background: dimgrey;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
